$box-width: 25rem;
$normal-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);

$max-widths: ">1024px", 1024px, 768px, 425px, 375px, 320px;
$width-font-sizes: 110%, 130%, 110%, 85%, 65%, 60%;
.portrait {
  font-size: nth($width-font-sizes, 1);
}
@for $i from 2 through length($max-widths){
  $e: nth($max-widths, $i);
  @media screen and (max-width: $e) {
    .portrait {
      font-size: nth($width-font-sizes, $i);
    }
  }
}

$max-heights: ">725px", 725px, 625px, 525px, 425px, 325px;
$height-font-sizes: 110%, 100%, 80%, 55%, 45%, 35%;
.landscape {
  font-size: nth($height-font-sizes, 1);
}
@for $i from 2 through length($max-heights){
  $e: nth($max-heights, $i);
  @media screen and (max-height: $e) {
    .landscape {
      font-size: nth($height-font-sizes, $i);
    }
  }
}

@mixin fill-parent($mode: "percent") {
  @if ($mode == "percent") {
    width: 100%;
    height: 100%;
  } @else if ($mode == "flex") {
    flex-grow: 1;
    align-self: stretch;
  }
}