$box-width: 25rem;
$normal-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);

$max-widths: ">1024px", 1024px, 768px, 425px, 375px, 320px;
$width-font-sizes: 110%, 130%, 110%, 85%, 65%, 60%;
.portrait {
  font-size: nth($width-font-sizes, 1);
}
@for $i from 2 through length($max-widths){
  $e: nth($max-widths, $i);
  @media screen and (max-width: $e) {
    .portrait {
      font-size: nth($width-font-sizes, $i);
    }
  }
}

$max-heights: ">725px", 725px, 625px, 525px, 425px, 325px;
$height-font-sizes: 110%, 100%, 80%, 55%, 45%, 35%;
.landscape {
  font-size: nth($height-font-sizes, 1);
}
@for $i from 2 through length($max-heights){
  $e: nth($max-heights, $i);
  @media screen and (max-height: $e) {
    .landscape {
      font-size: nth($height-font-sizes, $i);
    }
  }
}

@mixin logo-field {
  flex-basis: 17rem;
  width: $box-width;
  img {
    width: 3rem;
    margin: 0 0.3rem;
  }
}

@mixin search-field {
  flex-basis: 11rem;
  width: $box-width;

  .box {
    width: 100%;
    height: 2rem;
    padding: 0.3rem 0.7rem;
    top: 3rem;
    border-radius: 2rem;
    background-color: white;
    box-shadow: $normal-box-shadow;
  }

  img {
    width: 1rem;
    height: auto;
  }

  .input {
    margin: 0 0.7rem;
  }
}

@mixin shortcuts-field {
  width: $box-width;

  .row {
    padding-bottom: 1.5rem;

    &:last-child {
      padding: 0 2.5rem;
    }
  }
}

@mixin shortcut-field {
  width: 4rem;

  .icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 1.25rem;
    box-shadow: $normal-box-shadow;

    img {
      width: 80%;
    }
  }

  p {
    color: white;
    font-size: 10px;
  }
}

@mixin fill-parent($mode: "percent") {
  @if ($mode == "percent") {
    width: 100%;
    height: 100%;
  } @else if ($mode == "flex") {
    flex-grow: 1;
    align-self: stretch;
  }
}